<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Custom styles for this template -->
    <!--<link href="css/blog-post.css" rel="stylesheet">-->

</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h1 class="mt-4">@Model.Title</h1>

                <!-- Author -->
                <p class="lead">
                    by
                    <a href="#">@Model.UserUserName</a> <span>Posted on <time datetime="@Model.CreatedOn.ToString("O")"></time></span>
                    <div>
                        <div>
                            <a href="#" onclick="sendVote(@Model.Id, true)">
                                <i class="far fa-thumbs-up"></i>
                            </a>
                        </div>
                        <div id="votesCount">@Model.VotesCount</div>
                        <div>
                            <a href="#" onclick="sendVote(@Model.Id, false)">
                                <i class="far fa-thumbs-down"></i>
                            </a>
                        </div>
                    </div>
                </p>

                <!-- Content -->
                <div>
                    @Html.Raw(Model.SanitizedContent)
                </div>

                <div>
                    <a href="/Blog/Delete?Id=@Model.Id" class="btn btn-danger" onclick="console.log("test")">Delete</a>
                </div>

                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form asp-controller="Comment" asp-action="Create" method="post">
                            <input type="hidden" name="ArticleId" value="@Model.Id" />
                            <div class="form-group">
                                <label for="Content"></label>
                                <textarea name="Content" id="Content" class="form-control" placeholder="Content" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary offset-10" >AddComment</button>
                        </form>
                    </div>
                </div>

                <!-- Single Comment -->
                @foreach (var comment in Model.Comments)
                {
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">@comment.UserUsername</h5>
                            <h6 class="mt-0"><time datetime="@comment.CreatedOn.ToString("O")"></time></h6>
                            @comment.Content
                        </div>
                    </div>
                    <div class="offset-10">
                        <button type="submit" class="btn btn-primary" onclick="showAddCommentForm(@comment.Id)">Reply</button>
                    </div>
                    <div>
                        <form id="@comment.Id" asp-controller="Comment" asp-action="Create" method="post" style="display: none">
                            <input type="hidden" name="ArticleId" value="@Model.Id" />
                            <input type="hidden" name="ParentId" value="0"/>
                            <div>
                                <label for="Content"></label>
                                <textarea name="Content" id="Content" class="form-control"></textarea>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-primary" value="Add reply" />
                            </div>
                            <hr />
                        </form>
                    </div>
                }

                <!-- Comment with nested comments -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">Commenter Name</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>

                        <div class="media mt-4">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                            <div class="media-body">
                                <h5 class="mt-0">Commenter Name</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-append">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Web Design</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#">Freebies</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">JavaScript</a>
                                    </li>
                                    <li>
                                        <a href="#">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#">Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">
                        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    Bootstrap core JavaScript
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>

@section Scripts {
    <script>
        function showAddCommentForm(parentId) {
            $("#AddCommentForm input[name='ParentId']").val(parentId);
            $("#" + parentId).toggle();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddCommentForm").offset().top
            }, 500);
        }


        function sendVote(ArticleId, IsUpVote) {
            var json = JSON.stringify({ articleId: ArticleId, isUpVote: IsUpVote });
            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function (data) {
                console.log(data);
                $("#votesCount").html(data.currentTarget.responseText);
            }
            xhr.open("POST", "/api/vote");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(json);
        };
        @*function sendVote(ArticleId, IsUpVote) {
            var json = { articleId: ArticleId, isUpVote: IsUpVote };

            $.ajax({
                url: "/api/vote",
                type: "POST",
                data: json,
                contentType: "application/json",
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                }
            });
        }*@
    </script>
}