@model FitnessCare.Web.ViewModels.Blog.ArticlesListViewModel

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-home.css" rel="stylesheet">

</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="my-4">
                    Best articles:
                </h1>

                <!-- Blog Post -->

                @foreach (var article in Model.Articles)
                {
                    <div class="card mb-4">
                        @*<img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">*@
                        <div class="card-body">
                            <h2 class="card-title">@article.Title</h2>
                            <p class="card-text">@article.ShortContent</p>
                            <a href="/Blog/Article?Id=@article.Id" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on <time datetime="@article.CreatedOn.ToString("O")"></time> by
                            <a href="#">@article.UserUserName</a>
                        </div>
                    </div>
                }

                <h3>All articles by date:</h3>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date:</th>
                            <th scope="col">Article:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var article in Model.OrderedArticles)
                        {
                            <tr>
                                <th scope="row"><time datetime="@article.CreatedOn.ToString("O")"></time></th>
                                <td><span>"<a href="/Blog/Article?Id=@article.Id">@article.Title</a>" - @article.CreatedOn.Year</span></td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- Pagination -->
                <nav>
                    <ul class="pagination justify-content-center">

                        @if (Model.CurrentPage == 1)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="/Blog/Blog?page=@(Model.CurrentPage - 1)">Previous</a>
                            </li>
                        }

                        @for (int i = 1; i <= Model.PagesCount; i++)
                        {
                            var active = i == Model.CurrentPage ? "active" : string.Empty;

                            <li class="page-item @active">
                                <a class="page-link" href="/Blog/Blog?page=@i">@i</a>
                            </li>
                        }
                        @if (Model.CurrentPage == Model.PagesCount)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Next</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="/Blog/Blog?page=@(Model.CurrentPage + 1)">Next</a>
                            </li>
                        }
                    </ul>
                    </nav>

                </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-append">
                                <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Web Design</a>
                                    </li>
                                    <li>
                                        <a href="#">HTML</a>
                                    </li>
                                    <li>
                                        <a href="#">Freebies</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">JavaScript</a>
                                    </li>
                                    <li>
                                        <a href="#">CSS</a>
                                    </li>
                                    <li>
                                        <a href="#">Tutorials</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">
                        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                    </div>
                </div>

                <form action="/Blog/Add">
                    <input class="btn btn-primary" type="submit" value="Add article" />
                </form>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>