@model FitnessCare.Web.ViewModels.Blog.ArticlesListViewModel

@{ this.ViewData["Title"] = "Blog";}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-home.css" rel="stylesheet">

</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4">Search through different topics in our blog :)</h1>


        @if (this.TempData.ContainsKey("Message"))
        {
            <div class="alert alert-success alert-dismissable">
                @this.TempData["Message"]
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        }

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                @if (Model.SearchString == string.Empty)
                {
                    <h2>Ooops!</h2>
                }
                else if (Model.SearchString != null)
                {
                    <h2 class="my-4">
                        Your search "@Model.SearchString" found results: @Model.ArticlesCount
                    </h2>
                }
                else { }

                <!-- Blog Post -->

                @if (Model.SearchString == string.Empty || Model.Articles.Count() == 0)
                {
                    <div>
                        <p>Ooops, nothing found for "@Model.SearchString", please try searching for another word :)</p>
                    </div>
                }
                else
                {
                    @foreach (var article in Model.Articles)
                    {
                        <div class="card mb-4">
                            <img class="card-img-top" src="@article.ImageUrl" alt="ArticlePicture">
                            <div class="card-body">
                                <h2 class="card-title">@article.Title</h2>
                                <p class="card-text">@article.ShortContent</p>
                                <a asp-controller="Articles" asp-action="Article" asp-route-id="@article.Id" class="btn btn-primary">Read More &rarr;</a>
                            </div>
                            <div class="card-footer text-muted">
                                Posted on: <span class="badge badge-primary text-wrap"><time datetime="@article.CreatedOn.ToString("O")"></time></span> by:
                                <span class="badge badge-primary text-wrap">@article.UserUserName</span>
                            </div>
                        </div>
                    }
                }

                <h3>All articles by date:</h3>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date:</th>
                            <th scope="col">Article:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var article in Model.OrderedArticles)
                        {
                            <tr>
                                <th scope="row"><time datetime="@article.CreatedOn.ToString("O")"></time></th>
                                <td><span>"<a asp-controller="Articles" asp-action="Article" asp-route-id="@article.Id">@article.Title</a>" - @article.CreatedOn.Year</span></td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- Pagination -->

                @if (Model.SearchString == null)
                {
                    <partial name="_PagingPartial" model="@Model" />
                }

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <form asp-action="List" method="get">
                            <div class="input-group">
                                <label for="SearchString"></label>
                                <input type="text" class="form-control" name="SearchString" placeholder="Search for...">
                                <span class="input-group-append">
                                    <button class="btn btn-secondary" type="submit">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories in our forum</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    @foreach (var categorie in Model.Categories)
                                    {
                                        <li>
                                            <a asp-controller="Categories" asp-action="Category" asp-route-Id="@categorie.Id">@categorie.Name</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                @*<div class="card my-4">
                        <h5 class="card-header">Side Widget</h5>
                        <div class="card-body">
                            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                        </div>
                    </div>*@

                <a class="btn btn-primary" asp-controller="Articles" asp-action="Add">Add article</a>

            </div>

        </div>
    </div>
</body>