<div class="container-fluid mt-100">
    @if (this.TempData.ContainsKey("Message"))
    {
        <div class="alert alert-success alert-dismissable">
            @this.TempData["Message"]
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    }
    <a asp-controller="Categories" asp-action="AddPost" asp-route-id="@ViewContext.RouteData.Values["id"]" class="btn btn-primary">Add Post</a>
    <div class="card mb-3">
        "
        <div class="card-header pl-0 pr-0">
            <div class="row no-gutters w-100 align-items-center">
                <div class="col ml-3">Topics</div>
                <div class="col-4 text-muted">
                    <div class="row no-gutters align-items-center">
                        <div class="col-4">Comments</div>
                        <div class="col-8">Last update</div>
                    </div>
                </div>
            </div>
        </div>

        @foreach (var post in Model)
        {
            <div class="card-body py-3">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <a asp-controller="Posts" asp-action="Post" asp-route-id="@post.Id" class="text-big" data-abc="true">@post.Title</a>
                        <div class="text-muted small mt-1">Started <time datetime="@post.CreatedOn.ToString("O")"></time> &nbsp;·&nbsp; <a href="javascript:void(0)" class="text-muted" data-abc="true">@post.UserUserName</a></div>
                    </div>
                    <div class="d-none d-md-block col-4">
                        <div class="row no-gutters align-items-center">
                            <div class="col-4">@post.CommentsCount <i class="fas fa-comment-dots"></i> </div>
                            <div class="media col-8 align-items-center">
                                <img src="@post.User.ProfilePictureUrl" alt="" class="rounded-circle" width="70">
                                <div class="media-body flex-truncate ml-2">
                                    <div class="line-height-1 text-truncate">1 day ago</div> <a href="javascript:void(0)" class="text-muted small text-truncate" data-abc="true">by @post.UserUserName</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-0">
        }
    </div>
</div>