@model FitnessCare.Web.ViewModels.Forum.PostViewModel
@using FitnessCare.Data.Models
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> userManager

@{
    @using System.Linq;
    var counter = 0;
    var user = await userManager.GetUserAsync(this.User);

    async Task DisplayComments(int? parentId)
    {
        var comments = ((IEnumerable<dynamic>)this.Model.Comments).Where(x => x.ParentId == parentId);

        if (!comments.Any())
        {
            counter = 1;
            return;
        }
        else
        {
            @foreach (var comment in comments)
            {
                if (comment.ParentId == null)
                {
                    counter = 0;
                }

                <div class="commented-section mt-2 border rounded-lg offset-@counter">
                    <div class="d-flex flex-row align-items-center commented-user">
                        <img class="img-fluid img-responsive rounded-circle mr-2" src="@comment.User.ProfilePictureUrl" width="50">
                        <h5 class="mr-2">@comment.UserUsername</h5><span class="dot mb-1"></span><span class="mb-1 ml-2"><time datetime="@comment.CreatedOn.ToString("O")"></time></span>
                    </div>
                    <div class="comment-text-sm"><span>@comment.Content</span></div>
                    <div class="reply-section">
                        <button class="btn btn-primary ml-2 mt-1" onclick="showAddCommentForm(@comment.Id)">Reply</button>
                    </div>
                    <div>
                        <form id="@comment.Id" asp-controller="Comments" asp-action="Create" method="post" style="display: none">
                            <input type="hidden" name="PostId" value="@Model.Id" />
                            <input type="hidden" name="ParentId" value="0" />
                            <div>
                                <label for="Content"></label>
                                <textarea name="Content" id="Content" class="form-control"></textarea>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-primary" value="Add comment" />
                            </div>
                        </form>
                    </div>
                </div>

                counter++;

                await DisplayComments(comment.Id);
            }
        }
    }
}

<div class="container mt-6 mb-6 border rounded-lg">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-12">
            <div class="d-flex flex-row align-items-center text-left comment-top p-2 bg-white border-bottom px-4">
                <div class="profile-image"><img class="rounded-circle" src="@Model.User.ProfilePictureUrl" width="70"></div>
                <div class="d-flex flex-column ml-3">
                    <div class="d-flex flex-row post-title">
                        <h5>@Model.Title</h5><span class="ml-2">(@Model.UserUserName)</span>
                    </div>
                    <div class="d-flex flex-row align-items-center align-content-center post-title"><span class="mr-2 comments">Comments: @Model.CommentsCount</span><time datetime="@Model.CreatedOn.ToString("O")"></time></div>
                    <div class="comment-text-sm">
                        <hr />
                        <span>
                            @Model.Content
                        </span>
                    </div>
                </div>
            </div>

            <!-- Comment section -->
            <div class="coment-bottom bg-white p-2 px-4">

                <!-- Comment section -->
                <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                    <img class="img-fluid img-responsive rounded-circle mr-2" src="@user.ProfilePictureUrl" width="38" />
                    <form asp-controller="Comments" asp-action="Create" method="post" form-control>
                        <input type="hidden" name="PostId" value="@Model.Id" />
                        <div class="form-group">
                            <label for="Content"></label>
                            <textarea name="Content" id="Content" class="form-control" placeholder="Add a comment" rows="3"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Comment
                        </button>
                    </form>
                </div>

                @{await DisplayComments(null); }
                <!-- Single comment -->
                <!-- Single comment -->
                <div class="commented-section mt-2">
                    <div class="d-flex flex-row align-items-center commented-user">
                        <h5 class="mr-2">Makhaya andrew</h5><span class="dot mb-1"></span><span class="mb-1 ml-2">10 hours ago</span>
                    </div>
                    <div class="comment-text-sm"><span>Nunc sed id semper risus in hendrerit gravida rutrum. Non odio euismod lacinia at quis risus sed. Commodo ullamcorper a lacus vestibulum sed arcu non odio euismod. Enim facilisis gravida neque convallis a. In mollis nunc sed id. Adipiscing elit pellentesque habitant morbi tristique senectus et netus. Ultrices mi tempus imperdiet nulla malesuada pellentesque.</span></div>
                    <div class="reply-section">
                        <div class="d-flex flex-row align-items-center voting-icons">
                            <i class="fa fa-sort-up fa-2x mt-3 hit-voting"></i><i class="fa fa-sort-down fa-2x mb-3 hit-voting"></i><span class="ml-2">25</span><span class="dot ml-2"></span>
                            <h6 class="ml-2 mt-1">Reply</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>function showAddCommentForm(parentId) {
            $("#" + parentId + " input[name = 'ParentId']").val(parentId);
            $("#" + parentId).toggle();
        };</script>
}