<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        @if (this.TempData.ContainsKey("Message"))
        {
            <div class="alert alert-success allert-dismissible">
                @this.TempData["Message"]
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        }

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">A Warm Welcome!</h1>
            <p class="lead">This is our Forum!</p>
            <form action="/Forum/AddCategory">
                <input class="btn btn-primary" type="submit" value="Add category" />
            </form>
        </header>

        <!-- Page Features -->
        <div class="row text-center">

            @foreach (var category in Model)
            {
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top rounded" src="@category.ImageURL" alt="Category">
                        <div class="card-body">
                            <h4 class="card-title">@category.Name</h4>
                            <p class="card-text">@category.ShortDescription</p>
                        </div>
                        <div class="card-footer">
                            <a asp-controller="Categories" asp-action="Category" asp-route-id="@category.Id" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                    </div>
                </div>
            }

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>