
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

</head>

@{
    this.ViewData["Title"] = "Article";

    @using System.Linq;
    var counter = 0;

    async Task DisplayComments(int? parentId)
    {
        var comments = ((IEnumerable<dynamic>)this.Model.Comments).Where(x => x.ParentId == parentId);


        if (!comments.Any())
        {
            counter = 1;
            return;
        }
        else
        {

            @foreach (var comment in comments)
            {
                if (comment.ParentId == null)
                {
                    counter = 0;
                }
                <div class="card rounded-lg border shadow-lg mt-4 mb-4 mr-4 py-3 px-3 offset-@counter">
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="@comment.User.ProfilePictureUrl" style="width: 70px" alt="ProfilePicture">
                        <div class="media-body">
                            <h5 class="mt-0">
                                @if (parentId != null)
                                {
                                    @("Reply to -> " + comment.Parent.UserUsername)
                                    <h6>
                                        @("From: " + comment.UserUsername)
                                    </h6>
                                }
                                else
                                {
                                    @comment.UserUsername
                                }
                            </h5>
                            <h6 class="mt-0"><time datetime="@comment.CreatedOn.ToString("O")"></time></h6>
                            <span class="text-break">@comment.Content</span>
                        </div>
                    </div>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <div class="offset-10">
                            <button type="submit" class="btn btn-primary" onclick="showAddCommentForm(@comment.Id)">Reply</button>
                        </div>
                        <div>
                            <form id="@comment.Id" asp-controller="Comments" asp-action="Create" method="post" style="display: none">
                                <input type="hidden" name="ArticleId" value="@Model.Id" />
                                <input type="hidden" name="ParentId" value="0" />
                                <div>
                                    <label for="Content"></label>
                                    <textarea name="Content" id="Content" class="form-control"></textarea>
                                </div>
                                <hr />
                                <div>
                                    <input type="submit" class="btn btn-primary" value="Add reply" />
                                </div>
                            </form>
                        </div>
                    }

                </div>

                counter++;

                await DisplayComments(comment.Id);

            }
        }
    }
}

<body>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h1 class="mt-4">@Model.Title</h1>

                <!-- Author -->
                <p class="lead">
                    by
                    <span class="badge badge-primary text-wrap">@Model.UserUserName</span>
                    <span>
                        Posted on <span class="badge badge-primary text-wrap"><time datetime="@Model.CreatedOn.ToString("O")"></time></span>
                    </span>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <div>
                            <div>
                                <a href="#" onclick="sendVote(@Model.Id, true)">
                                    <i class="far fa-thumbs-up"></i>
                                </a>
                            </div>
                            <div id="votesCount">@Model.VotesCount</div>
                            <div>
                                <a href="#" onclick="sendVote(@Model.Id, false)">
                                    <i class="far fa-thumbs-down"></i>
                                </a>
                            </div>
                        </div>
                    }
                </p>

                <div>
                    <img class="rounded" src="@Model.ImageUrl" style="width: 100%" />
                </div>

                <!-- Content -->
                <div class="col-md-12 text-break">
                    @Html.Raw(Model.SanitizedContent)
                </div>

                <!-- Comments Form -->
                @if (this.User.Identity.IsAuthenticated)
                {
                    <div class="card my-4 shadow-lg">
                        <h5 class="card-header">Leave a Comment:</h5>
                        <div class="card-body">
                            <form asp-controller="Comments" asp-action="Create" method="post">
                                <input type="hidden" name="ArticleId" value="@Model.Id" />
                                <div class="form-group">
                                    <label for="Content"></label>
                                    <textarea name="Content" id="Content" class="form-control" placeholder="Content" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary offset-10">AddComment</button>
                            </form>
                        </div>
                    </div>
                }

                <!-- Single Comment -->
                @{await DisplayComments(null); }

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <form asp-action="List" method="get">
                            <div class="input-group">
                                <label for="SearchString"></label>
                                <input type="text" class="form-control" name="SearchString" placeholder="Search for...">
                                <span class="input-group-append">
                                    <button class="btn btn-secondary" asp-controller="Blog" asp-action="List" type="submit">Go!</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4 shadow-lg">
                    <h5 class="card-header">Categories in our Forum</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-unstyled mb-0">
                                    @foreach (var categorie in Model.Categories)
                                    {
                                        <li>
                                            <a asp-controller="Categories" asp-action="Category" asp-route-Id="@categorie.Id">@categorie.Name</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                @*<div class="card my-4 shadow-lg">
                    <h5 class="card-header">Side Widget</h5>
                    <div class="card-body">
                        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
                    </div>
                </div>*@

                @if (this.User.Identity.Name == Model.UserUserName)
                {

                }

                @if (this.User.IsInRole(FitnessCare.Common.GlobalConstants.AdministratorRoleName) || this.User.Identity.Name == Model.UserUserName)
                {
                    <div>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">Delete</a>
                    </div>

                    <div>
                        <a asp-controller="Articles" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
                    </div>

                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Deleting article</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this article?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a asp-controller="Articles" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
        <!-- /.row -->

        <form method="post" id="afToken"></form>

    </div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

@section Scripts {
    <script>function showAddCommentForm(parentId) {
            $("#" + parentId + " input[name = 'ParentId']").val(parentId);
            $("#" + parentId).toggle();
        }


        function sendVote(ArticleId, IsUpVote) {
            var json = JSON.stringify({ articleId: ArticleId, isUpVote: IsUpVote });
            var token = $('#afToken input[name=__RequestVerificationToken]').val();
            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function (data) {
                console.log(data);
                $("#votesCount").html(data.currentTarget.responseText);
            }
            xhr.open("POST", "/api/votes");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("RequestVerificationToken", token);
            xhr.send(json);
        };</script>
}