@model FitnessCare.Web.ViewModels.Workouts.WorkoutViewModel

@{ this.ViewData["Title"] = "Workout";}

<div>
    <h1 class="text-center">@Model.WorkoutType.Name Workout</h1>

    <div class="text-center">
        <img class="rounded" src="@Model.User.ProfilePictureUrl" width="150" />
    </div>
    <div class="text-center h2">
        <span class="badge badge-primary text-wrap">Made on:</span><time datetime="@Model.Date.ToString("O")"></time>
    </div>
    <div class="text-center h2">
        <span class="badge badge-primary text-wrap">Duration:</span>@Model.Duration minutes
    </div>
    <div class="text-center h2">
        <span class="badge badge-primary text-wrap">By:</span> @Model.UserUserName
    </div>

    <div id="accordion" class="text-center">
        @foreach (var exercise in Model.Exercises)
        {
            int index = 1;

            <div>
                <div class="card-header">
                    <div class="collapsed card-link" data-toggle="collapse">
                        <span class="font-weight-bold">@exercise.Name (@(exercise.MuscleGroup.Name)) - @exercise.Sets.Count() sets</span>
                    </div>
                </div>
                <div id="collapse@(exercise.Id)" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        @foreach (var set in exercise.Sets)
                        {
                            <div>
                                <p>Set(@(index++))Reps: <mark>@set.Reps</mark></p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }

    </div>
</div>